.odkaz {
    display: inline-block;
    padding: 12px 24px;
    margin: 8px;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    background: rgb(42, 31, 192);
    border: 5px solid rgb(0, 255, 221);
}

.odkaz-zpet {
position: fixed;
top: 5px;
left: 5px;
z-index: 1;
}
